input {
    margin: 5px;
    border-radius: 10px;
    border-width: 1px;
    height: 20px;
    padding: 5px;
    font-family: Oswald;
}

input:focus {
    outline: none;
}

@font-face {
    font-family: Oswald;
    src: url(Oswald-Regular.ttf);
  }