.App {
  background-color: rgb(144, 172, 233);
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  font-family: Oswald;
  height: 100vh;
  color: rgb(15, 33, 134);
}

.App h1 {
  font-size: 60px;
}
@font-face {
  font-family: Oswald;
  src: url(../src/Components/Oswald-Regular.ttf);
}